// -------------FONT---------------
// Open Sans font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-medium {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "width" 100;
}

// ------------Colors --------------------
$primary-header: #ffffff;
$subtext: #d3d3d3;
$form-panel-bg: #f2f2f2;
$form-blue: #348fbc;
$form-disabled: #909090;
$selected: #212121;

// ----------Screen Sizes ----------------

// breakpoints for screen sizes
$breakpoints: (
  "small": 480px,
  "medium": 768px,
  "large": 1024px,
);

// --------------------Main -------------

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: $selected;
}

h1 {
  color: $form-blue;
  font-family: "Open Sans", sans-serif;
}
h2 {
  color: $primary-header;
}
h3 {
  color: $subtext;
}

#hero {
  display: flex;
  justify-content: center;
  background-image: url("../img/car-finder-bg.jpg");
  // background-color: gray;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  width: 80%;
}
// -------------Search Form ---------------------
#search {
  background-color: $form-panel-bg;
  border-radius: 15px;
  width: 100%;
  height: 175px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
}

#column-year {
  // flex: 1;
  min-width: 200px;
  margin: 5px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

#column-make {
  // flex: 1;
  min-width: 200px;
  margin: 5px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

#column-model {
  // flex: 1;
  min-width: 200px;
  margin: 5px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

legend {
  font-family: "Open Sans", sans-serif;
}

select {
  width: 175px;
  font-family: "Open Sans", sans-serif;
}
